<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800052851857-mg1j791f6ij047hguliqmvjs0cf4htvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800052851857-mg1j791f6ij047hguliqmvjs0cf4htvt</string>
	<key>API_KEY</key>
	<string>AIzaSyC9dIt_SsqbgP7nhgOprOQVGeO78x0Qz-k</string>
	<key>GCM_SENDER_ID</key>
	<string>800052851857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.halilibrahimandic.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-b282e</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-b282e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800052851857:ios:e58d03e9bdc93c556bfb30</string>
</dict>
</plist>